<% @articles.each do |article| %>
  <div class="mb-5">
    <h4 class=""><%= article.title %></h4>
    <h5 class="text-secondary"><%= article.created_at.strftime("%b %d, %Y") %></h5>
    <h6 cols="55"><%= truncate(article.body, :length =>100) %></h6>
    <%= link_to "More detail", article, class: "text-dark" %>
  </div>
<% end %>